<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALCHEMY_RPC_URL</key>
	<string>https://polygon-amoy.g.alchemy.com/v2/YOUR_KEY</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>pulsepay.wallet</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pulsepay</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>metamask</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>WEB3AUTH_CLIENT_ID</key>
	<string>YOUR_CLIENT_ID</string>
</dict>
</plist>
